* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "montserrat";
}

html {
  scroll-behavior: smooth;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  text-align: center;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: lightgray;
  position: fixed;
  width: 100%;
  padding: 24px 2em;
  z-index: 4;
}

.logo-nav-img {
  width: 130px;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.4em;
}

.nav-menu li {
  margin: 0 15px;
  cursor: pointer;
}

.nav-menu:hover {
  color: #fff;
}

.ham {
  display: none;
}

@media only screen and (max-width: 650px) {
  .ham {
    cursor: pointer;
    display: block;
  }
  .nav-menu-close {
    display: none;
  }
  .nav-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    right: 0;
    top: 83px;
    background: #000;
    width: 175px;
  }
  .nav-menu li {
    color: #fff;
    border-bottom: 1px solid #fff;
    padding: 15px 0;
    margin: 0;
    cursor: pointer;
  }
  .nav-menu li:last-child {
    border: none;
  }
  .nav-menu li:hover {
    background: lightgray;
    color: #000;
  }
}

.section-container {
  padding-top: 4em;
}

.img-server {
  width: 70%;
  margin: 0.8em auto 0 25%;
}

.section-container > h1 {
  position: relative;
  z-index: 3;
}

.scroll {
  display: none;
}

@media only screen and (min-width: 650px) {
  .img-server {
    width: 50%;
  }
  .section-container > h1 {
    font-size: 3em;
    margin: 0;
  }
  .section-container > p {
    font-size: 1.4em;
    margin: 1%;
  }
  .scroll {
    display: block;
    margin: 2% auto 0 auto;
    width: 2%;
    -webkit-animation: move 1s infinite alternate;
            animation: move 1s infinite alternate;
    cursor: pointer;
  }
  @-webkit-keyframes move {
    from {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    to {
      -webkit-transform: translateY(20px);
              transform: translateY(20px);
    }
  }
  @keyframes move {
    from {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    to {
      -webkit-transform: translateY(20px);
              transform: translateY(20px);
    }
  }
}

@media only screen and (min-width: 1270px) {
  .img-server {
    width: 35%;
    margin: 3em auto 2em 15%;
  }
}

.blue-section {
  background: #00c2ff;
  margin: 10% 0 0 0;
  padding: 2em 0;
  border-radius: 40px 0 0 0;
  -webkit-transform: skewY(-2deg);
          transform: skewY(-2deg);
}

.blue-section p {
  color: #fff;
  width: 50%;
  padding: 15px;
  margin: 0 auto;
}

.blue-section ul {
  -webkit-transform: skewY(2deg);
          transform: skewY(2deg);
}

.blue-section ul li {
  margin: 3em 0;
}

.blue-section ul li img {
  width: 10%;
}

.blue-section ul li:nth-child(3) img {
  width: 8%;
}

.blue-section:after {
  content: "";
  width: 80px;
  height: 80px;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: -80px;
  border-radius: 50%;
}

.blue-section:before {
  content: "";
  width: 40px;
  height: 40px;
  background-color: #00c2ff;
  position: absolute;
  right: 0;
  top: -33px;
}

@media only screen and (min-width: 650px) {
  .blue-section ul li img {
    width: 20%;
  }
  .blue-section ul li:nth-child(3) img {
    width: 11%;
  }
  .blue-section ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.gray-container {
  background: #f6f6f6;
  padding: 4em 0;
  margin: -9px 0 7% 0;
}

.gray-container ul li:first-child {
  margin-bottom: 2em;
}

.gray-container figcaption {
  font-weight: 900;
  color: #00c2ff;
}

.cta-button {
  width: calc(315px);
  background: #00cc80;
  display: block;
  color: #fff;
  border-radius: 20px;
  padding: .3em;
  font-size: 1.5em;
  margin: 2% auto 5% auto;
  z-index: 1;
}

@media only screen and (min-width: 650px) {
  .gray-container {
    padding: 0;
    margin: -25px 0 7% 0;
  }
  .gray-container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .gray-container ul li {
    margin: 8%;
    width: 12%;
  }
  .gray-container ul li img {
    width: 100%;
  }
}

.footer-container {
  width: 100%;
  background: #3d444a;
  padding: 3em 0;
}

.footer-links li {
  display: inline-block;
  margin: 15px;
}

.footer-links li a {
  color: #9d9d9d;
  font-size: 1.5em;
}
/*# sourceMappingURL=index.css.map */