.footer-container {
  width: 100%;
  background: #3d444a;
  padding: 3em 0;
}

.footer-links li {
  display: inline-block;
  margin: 15px;
}

.footer-links li a {
  color: #9d9d9d;
  font-size: 1.5em;
}