header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: lightgray;
  position: fixed;
  width: 100%;
  padding: 24px 2em;
  z-index: 4;
}

.logo-nav-img {
  width: 130px;
}

.nav-menu {
  display: flex;
  font-size: 1.4em;
  & li {
    margin: 0 15px;
    cursor: pointer;
    &:hover {
      color: #fff;
    }
  }
}

.ham {
  display: none;
}

@media only screen and (max-width: 650px) {
  .ham {
    cursor: pointer;
    display: block;
  }

  .nav-menu-close {
    display: none;
  }

  .nav-menu {
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 83px;
    background: #000;
    width: 175px;
    & li {
      color: #fff;
      border-bottom: 1px solid #fff;
      padding: 15px 0;
      margin: 0;
      cursor: pointer;
      &:last-child {
        border: none;
      }
      &:hover {
        background: lightgray;
        color: #000;
      }
    }
  }
}
